[data-hook="admin_products_sidebar"] {
  // .field.checkbox:first-child {
  //   margin-top: 36px;
  // }
  .actions {
    padding: 0 !important;
  }
}

[data-hook="admin_product_form_fields"] {
  label {
    display: inline-block;
  }
  input, select, textarea, .select2-container {
    width: 100%;
  }
  input[type="checkbox"] {
    width: auto;
    vertical-align: bottom;
  }
}

.outstanding-balance {
  margin-bottom: 15px;
  text-transform: uppercase;

  strong {
    color: $color-2;
  }
}

#listing_product_stock {
  margin-left: 0px;
  margin-right: 0px;

  a.fa-void,
  a.fa-check,
  .js-stock-item-count {
    display: none;
  }

  > tbody {
    > tr {
      > td {
        background-color: $color-tbl-odd;

        > table {
          > tbody {
            > tr {
              > td {
                border-color: lighten($color-border, 4);
              }
            }
            > tr.even {
              td {
                background-color: lighten($color-tbl-even, 2);
              }
            }
            > tr.odd {
              td {
                background-color: $color-tbl-odd;
              }
            }
          }
        }
      }
      &:hover {
        .stock-variant-field-table {
          td {
            background-color: $color-1;
          }
        }
      }
    }
    .variant-image {
      width: 35%;
    }
    .variant-details {
      width: 65%;
      padding: 0px 5px;
    }
    .variant-image,
    .variant-details,
    .variant-container {
      float: left;
    }
    .variant-container {
      padding-top: 10px;
    }
    .stock-variant-field-table {
      tr td {
        border: none;
        padding: 2px;
        text-align: left;
      }
      tr td:first-child {
        font-weight: bold;
      }
      margin-bottom: 0px;
    }
  }
  td {
    vertical-align: top;

    &.stock_location_info {
      padding: 0;
      border: none;

      table {
        margin-bottom: 0;
        border-collapse: collapse;
        min-height: 135px;

        thead {
          th {
            border-top: none;
            padding: 5px 10px;
            text-transform: none;

            &:first-child {
              border-left: none;
            }
            &:last-child {
              border-right: none;
            }
          }
        }
        tbody {
          tr {
            td {
              padding: 5px 10px;
              vertical-align: middle;
              border: 1px solid $color-border;
              border-top: none;

              &:first-child {
                border-left: none;
              }
              &:last-child {
                border-right: none;
              }
            }

            &:last-child {
              td {
                border-bottom: 1px solid $color-border;
              }
            }
          }
        }
      }
    }
  }
  > tbody > tr:first-child > td > table.stock_location_table > tbody > tr:first-child > td {
    border-top: 1px solid $color-border;
    &:last-child {
      border-top: none;  
    }
  }
}
